[Unit]
Description=EverAI Resource Node Server
After=network.target

[Service]
WorkingDirectory=EveraiWorkSpace
ExecStart=EveraiWorkSpace/everai-resource-node
Restart=always
User=root

[Install]
WantedBy=multi-user.target