[Unit]
Description=EverAI Resource Node Server
After=network.target

[Service]
WorkingDirectory=/Users/zhaoxin/Workspace/github.com/zhaoxin-BF/docker-test/bindata
ExecStart=/Users/zhaoxin/Workspace/github.com/zhaoxin-BF/docker-test/bindata/everai-resource-node
Restart=always
User=root

[Install]
WantedBy=multi-user.target
